$darkColor: #262626;
$blueColor: #3F84E5;
$greyColor: #E0E0E2;

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  background-color: $greyColor;
  h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  nav {
    // p {
    //   font-family: monospace;
    //   font-size: 3em;
    //   animation: color-change 1s infinite;
    // }
    
    // @keyframes color-change {
    //   0% { color: red; }
    //   50% { color: blue; }
    //   100% { color: red; }
    // }
  }
}
#listMenu {
  background-color: $darkColor;
  color: $greyColor;
  display: flex;
}
.section {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  div {
    background-color: $greyColor;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 2px;
    p {
      margin-top: 2px;
    }
  }
}
footer {
  position: fixed;
  bottom: 0px;
  background-color: $darkColor;
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: $greyColor;
    text-decoration: none;
    padding: 3px 10px;
  }
  a:hover {
    cursor: pointer;
    border: 2px solid $greyColor;
    border-radius: 5px;
  }
}