header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  // background-color: rgb(70, 62, 70);
  h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}
#listMenu {
  background-color: black;
  color: white;
  display: flex;
}
h4 {
  font-size: 30px;
  padding: 5px;
}
h4:hover {
  cursor: pointer;
}
.section {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  div {
    background-color: chocolate;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
  }
  .book {
      display: flex;
      flex-direction: column;
      margin: 2px;
      p {
        margin-top: 2px;
      }
    }
}
footer {
  position: fixed;
  bottom: 0px;
  background-color: black;
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: white;
    text-decoration: none;
    padding: 3px 10px;
  }
  a:hover {
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
  }
}