$darkColor: #262626;
$blueColor: #3F84E5;
$greyColor: #E0E0E2;
$aloraColor: rgb(82, 6, 82);
$tyColor: rgba(46, 207, 46, 0.395);
$soldColor: yellow;

header {

  h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
  }
  
}