// Fonts
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap'); // "Great Vibes"
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sedgwick+Ave+Display&display=swap'); // "Sedgwick Ave Display"

$darkColor: #262626;
$blueColor: #3F84E5;
$greyColor: #E0E0E2;

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 130px;
  background-color: $greyColor;
  color: $darkColor;
  h1 {
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    font-size: 70px;
    margin-top: 20px;
    letter-spacing: 5px;
    animation: h1-change 5s infinite;
    text-shadow: rgba(0, 0, 0, 0.619) 2px 1px 3px;
  }
  @keyframes h1-change {
    0% { color: $darkColor; }
    50% { color: $blueColor; }
    100% { color: $darkColor; }
  }
  nav {
    button {
      border: none;
      background-color: $greyColor;
      color: $blueColor;
      font-family: 'Sedgwick Ave Display';
      font-size: 20px;
      padding: 5px 15px;
      margin: 0px 10px;
    }
    button:hover{
      background-color: $darkColor;
      border-radius: 15px 15px 5px 5px;
    }
  }
}
#listMenu {
  background-color: $darkColor;
  color: $darkColor;
  display: flex;
}
.section {
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  div {
    background-color: $greyColor;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 2px;
    p {
      margin-top: 2px;
    }
  }
}
footer {
  position: fixed;
  bottom: 0px;
  background-color: $darkColor;
  height: 30px;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  p {
    color: $greyColor;
  }
}
footer:hover {
  cursor: pointer;
  border: 5px solid $blueColor;
  border-left: none;
  border-bottom: none;
}